.upload-photos-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.upload-photos-page h1 {
    margin-bottom: 20px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

input[type="file"] {
    margin-bottom: 20px;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.preview-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
    padding: 5px;
}

.upload-photos-page button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.upload-photos-page button:hover {
    background-color: #0056b3;
}
