.expanded-post-media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    /* min-height: 25rem;
    min-width: 25rem;
    max-height: 41.25rem;
    max-width: 51.875rem; */
}

.expanded-post-media img {
    object-fit: cover;
    position: relative;
    border-radius: 0.5rem;
    min-height: 25rem;
    min-width: 25rem;
    max-height: 41.875rem;
    max-width: 53.125rem;
    /* height: 100%; */
    /* width: 100%; */
    aspect-ratio: inherit !important;
}

.expanded-post-media video {
    object-fit: cover;
    border-radius: 0.5rem;
    min-height: 25rem;
    min-width: 25rem;
    max-height: 41.875rem;
    max-width: 53.125rem;
}