.expanded-post-media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    /* min-height: 400px;
    min-width: 400px;
    max-height: 660px;
    max-width: 830px; */
}

.expanded-post-media img {
    object-fit: cover;
    position: relative;
    border-radius: 8px;
    min-height: 400px;
    min-width: 400px;
    max-height: 670px;
    max-width: 850px;
    /* height: 100%; */
    /* width: 100%; */
    aspect-ratio: inherit !important;
}

.expanded-post-media video {
    object-fit: cover;
    border-radius: 8px;
    min-height: 400px;
    min-width: 400px;
    max-height: 670px;
    max-width: 850px;
}