.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0.3125rem solid #ccc;
    top: -0.3125rem;
    left: 50%;
    transform: translateX(-50%);
}

.suggestions-list {
    position: absolute;
    background: rgb(10, 10, 10);
    border: 0.0625rem solid #cccccc29;
    border-radius: 0rem;
    max-height: 12.5rem;
    overflow-y: auto;
    z-index: 10;
    min-width: 15.625rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    gap: 0rem;
}

.suggestion-item {
    padding: 0.5em 0.4em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    height: 3.3125rem;
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0);
    border-radius: 0rem;
    transition: background-color 0.3s ease;
    border-bottom: 0.0625rem solid rgba(128, 128, 128, 0.287);
}
.suggestion-item:last-child {
    border: 0;
}

.suggestion-item:hover {
    background-color: rgba(86, 86, 86, 0.254);
}

.suggestion-item-profile-image {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggestion-item-profile-image img {
    height: 100%;
    width: auto;
}

.suggestion-item-user-info {
    color: rgba(255, 255, 255, 0.688);
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
}

.suggestion-item-user-info span:first-child {
    color: rgb(226, 226, 226);
    font-size: 1.1em;
}

.suggestion-item-user-info span:last-child {
    color: rgb(164, 164, 164);
    font-size: 0.87em;
}