.expanded-post-container.overlay {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.89);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 60; 
    color: white;
}
.expanded-post-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expanded-post-container.non-overlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}














.expanded-post-container {
    background-color: rgba(255, 255, 255, 0.0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.expanded-post-user-info-comments-container {
    width: 380px;
    height: 700px;
    background-color: rgb(41, 242, 226, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 0 0.6em;
    box-sizing: border-box;
}


.expanded-post-comment-top-panel {
    height: 65px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid rgba(128, 128, 128, 0.211);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 0.4em;
    box-sizing: border-box;
}


.expanded-post-user-info-container {
    height: 100%;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.expanded-post-user-info-profile-image {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgba(0, 128, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.15em;
    box-sizing: border-box;
}
.expanded-post-user-info-profile-image img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}
.expanded-post-user-info-container button,
.expanded-post-user-info-container a {
    font-size: 1em;
    color: rgb(195, 195, 195);
    border: 0;
    padding: 0;
    background-color: transparent;
}
.expanded-post-user-info-container button:hover,
.expanded-post-user-info-container a:hover {
    color: white;
    cursor: pointer;
}


.expanded-post-comment-top-panel-other-info {
    flex-grow: 1;
    height: 100%;
    background-color: rgba(0, 255, 255, 0);
}


.expanded-post-comments {
    width: 100%;
    height: 600px;
    background-color: rgb(103, 95, 152, 0);
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.211);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 0.5em 0.7em;
    box-sizing: border-box;
}


.expanded-post-no-comments {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}


.expanded-post-per-comment {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.497);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}


.expanded-post-per-comment:last-child {
    border-bottom: 0px solid rgba(128, 128, 128, 0.497);
}

.expanded-post-comments-info {
    height: 35px;
    width: 100%;
    background-color: rgba(0, 128, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.expanded-post-commenting-user-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    gap: 6px;
    color: white;
}

.expanded-post-commenting-user-profile-picture {
    background-color: rgba(0, 0, 255, 0);
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.expanded-post-commenting-user-profile-picture-inner {
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 50%;
}
.expanded-post-commenting-user-profile-picture img {
    width: 100%;
    height: 100%;
}

.expanded-post-commenting-user-username {
    background-color: rgba(44, 168, 91, 0);
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.expanded-post-commenting-user-username a {
    color: rgb(215, 215, 215);
    font-size: 0.95em;
}

.expanded-post-comment-info {
    width: 390px;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: gray;
}

.expanded-post-comment-info p {
    font-size: 10px;
}

.expanded-post-comments-text {
    width: 100%;
    background-color: rgb(0, 213, 255, 0);
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.expanded-post-comments-text-inner {
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 4px;
    max-height: 1200px;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
    box-sizing: border-box;
    margin-bottom: 0em;
    font-size: 14px;
}
.expanded-post-comments-text-inner * {
    margin: 0;
    padding: 0;
}



.expanded-post-comment-interaction {
    background-color: rgba(255, 0, 0, 0);
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.expanded-post-comment-interaction div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 4px;
}
.expanded-post-comment-interaction div p {
    margin: 0;
    padding: 0;
    color: gray;
    font-size: 0.9em;
}
.expanded-post-comment-interaction-btn {
    border: 0;
    background-color: rgba(0, 128, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: gray;
    padding: 0;
    margin: 0;
}
.expanded-post-comment-interaction-btn.liked {
    color: rgb(255, 0, 0);
}
.expanded-post-comment-interaction-btn.voted {
    color: rgb(0, 255, 229);
}
.expanded-post-comment-interaction-btn .icon-style {
    padding: 0;
    margin: 0;
}
.expanded-post-comment-interaction-btn:hover {
    /* color: rgb(232, 232, 232); */
    cursor: pointer;
}



.expanded-post-comment-post-container {
    width: 100%;
    background-color: rgba(255, 255, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: width 0.5s ease;
    gap: 5px;
    padding: 0 0em;
    box-sizing: border-box;
    margin: 0;
    height: fit-content !important;
}

.expanded-post-comment-post-button {
    padding: 0.2em;
    border: 0;
    color: white;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0);
    align-self: center;
    transition: color 0.3s ease;
}
.expanded-post-comment-post-button:hover {
    cursor: pointer;
    color: rgba(55, 255, 255, 0.78);
}

.expanded-post-comment-post-container-inner {
    background-color: rgb(0, 255, 162, 0);
    border-radius: 8px;
    padding: 0 0.2em;
    box-sizing: border-box;
    /* margin-top: -8px; */
    border: 1px solid rgba(128, 128, 128, 0.295);
    /*Needed for editor*/
    max-height: 150px;
    min-height: 50px;
    width: 100%;
    /* padding: 0.3em 0.2em !important; */
    display: flex;
    /* flex-direction: row;
    align-items: flex-start; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    /* box-sizing: border-box; */
    /* align-items: center; */
    overflow: hidden;
    background-color: black;
    /*Needed for editor*/

}



.expanded-post-info-img-container {
    background-color: rgb(154, 26, 26, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    gap: 6px;
}

.expanded-post-info-container {
    width: 100%;
    height: 25px;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.expanded-post-info-container-inner {
    width: 100%;
    height: 85%;
    background-color: rgb(121, 121, 146, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.expanded-post-creation-time {
    min-width: 150px;
    max-width: 260px;
    height: 100%;
    background-color: rgb(0, 0, 0, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.417);
    padding-left: 6px;
    padding-right: 6px;
}

.expanded-post-info-container-inner p {
    font-size: 14px;
    color: gray;
}

.expanded-post-info-likes-unlikes-comments-count {
    min-width: 260px;
    max-width: 560px;
    height: 100%;
    background-color: rgb(0, 0, 0, 0);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid rgba(128, 128, 128, 0.417);
    padding-left: 6px;
    padding-right: 6px;
}


.expanded-post-info-likes-unlikes-comments-count p:hover:nth-child(3),
.expanded-post-info-likes-unlikes-comments-count p:hover:nth-child(2) {
    cursor: pointer;
}

.expanded-post-media-container {
    aspect-ratio: inherit;
    background-color: rgba(255, 255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.expanded-post-img-previous-next-buttons-container {
    position: absolute;
    background-color: rgba(127, 255, 212, 0);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 0.3em;
    box-sizing: border-box;
}


.expanded-post-img-previous-next-buttons-container button {
    aspect-ratio: 1 / 1;
    background-color: rgba(81, 81, 81, 0.799);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    border: 0;
    color: white;
    padding: 0.4em;
    pointer-events: auto;
    font-size: 1em;

}

.expanded-post-img-previous-next-buttons-container button .icon-style {
    padding: 0;
    margin: 0;
}


.expanded-post-img-previous-next-buttons-container button:hover {
    background-color: rgba(161, 161, 161, 0.746);
    cursor: pointer;
}


.expanded-post-media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}






.expanded-post-interaction-container {
    width: 100%;
    height: 100%;
    width: 50px;
    max-height: 600px;
    min-height: 335px;
    background-color: rgb(0, 0, 0, 0);
    border: 0.5px solid rgba(128, 128, 128, 0.400);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


.expanded-post-interaction-container div {
    width: 80%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(0, 107, 123, 0);
    transition: background-color 0.3s ease;
}

.expanded-post-interaction-container div:hover {
    cursor: pointer;
    background-color: rgb(0, 107, 123);
}

.expanded-post-interaction-container img {
    width: 30px;
    aspect-ratio: 1 / 1;
}

.expanded-post-interaction-container .icon-style {
    font-size: 1.5em;
    padding: 0.1em;
}

.icon-style.hollow {
    fill: none;
    stroke: currentColor;
    stroke-width: 1.5em;
}
.icon-style.filled {
    fill: currentColor;
    stroke-width: 1.5em;
}
