a {
    color: rgb(35, 152, 255);
}


.mention-link {
    color: #1ac6dd; 
    font-weight: bold;
}
.mention-link:hover {
    text-decoration: underline;
}


.hashtag-link {
    color: #35edc8;
    text-decoration: none;
    font-weight: bold;
}
.hashtag-link:hover {
    text-decoration: underline;
}


.exchange-link {
    color: #f39c12;
    text-decoration: none;
}
.exchange-link:hover {
    text-decoration: underline;
}



.ql-code-block-container {
    background-color: rgba(23, 32, 45, 0.59);
    padding: 0.8em 0.5em;
    border-radius: 0.25rem;
}



.emoji {
    line-height: 1.4em;
}