.report-overlay {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.687);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 62; 
    color: white;
}

.report-content-card {
    width: 430px;
    height: 615px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 0.5em 1.5em 1em 1.5em;
    box-sizing: border-box;
    position: relative;
    gap: 10px;
}
.report-content-card h2 {
    align-self: flex-start;
    padding: 0.4em 0em;
    margin: 0;
    background-color: rgba(0, 128, 0, 0);
}

.report-content-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
    margin: 0;
    font-size: 1.3em;
    color: rgb(174, 174, 174);
    background-color: rgba(160, 160, 160, 0);
    border: 0;
    border-radius: 50%;
}
.report-content-close-btn:hover {
    color: white;
    cursor: pointer;
}



.reason-list {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    padding: 0em 0.8em 0em 0em;
    box-sizing: border-box;
}

.reason-item {
    width: 100%;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 0.8em;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 1em;
    color: white;
    transition: all 0.3s ease;
}
.reason-item:hover {
    background-color: rgba(72, 72, 72, 0.465);
    cursor: pointer;
}

.reason-item label {
    padding: 0;
    margin: 0;
}

.custom-checkbox {
    display: none;
}

.custom-checkmark {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #69696900;
    border: 2px solid #d3d3d376;
    position: relative;
}

.custom-checkbox:checked + .custom-checkmark {
    background-color: #007bff00;
}

.custom-checkmark::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.custom-checkbox:checked + .custom-checkmark::after {
    background-color: rgba(60, 232, 238, 0.8);
}



.report-other-field {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    box-sizing: border-box;
}
.report-other-field label {
    color: white;
    font-size: 1em;
}
.report-other-field textarea {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    box-sizing: border-box;
    resize: none;
    box-shadow: none;
    border: 1px solid rgba(0, 255, 255, 0);
}
.report-other-field textarea:focus {
    border: 1px solid rgb(0, 181, 184);
}


.report-submit-btn {
    padding: 0.5em 4em;
    margin: 0;
    border: 0;
    background-color: rgb(0, 117, 128);
    font-size: 1em;
    border-radius: 6px;
    color: white;
    transition: all 0.3s ease;
}
.report-submit-btn:hover {
    box-shadow: 0 0 3px 3px rgb(0, 117, 128);
    background-color: rgb(0, 117, 128, 0.2);
    cursor: pointer;
}
