.App {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(0, 0, 0) !important; */
  /* background: radial-gradient(circle at top, rgba(153, 102, 255, 0.133), rgba(153, 102, 255, 0)); */
  /* background: radial-gradient(circle at top, rgba(83, 135, 190, 0.157), rgba(14, 14, 14, 0)); */
    background: radial-gradient(circle at top, rgba(129, 66, 255, 0.06), rgba(153, 102, 255, 0));
    position: relative;
}

.App::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--display-bg);
  filter: var(--display-filter);
  z-index: 0;
  pointer-events: none;
}

:root {
  --base-font-size: 1em;
}
html {
  font-size: var(--base-font-size);
}


/* body::before {
  content: '';
  position: fixed;
  inset: 0;
  background: var(--display-bg);
  filter: var(--display-filter);
  z-index: -1;        
  pointer-events: none; 
} */
body::before {
  display: none !important;
}


a {
  color: white;
  text-decoration: none;
}

* {
  user-select: none;
}

p, span, div {
  user-select: text;
}




.loading {
  width: 5rem;
  aspect-ratio: 1 / 1;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-content: center;
}

.loading img {
  height: 100%;
  width: auto;
}




 @media (min-height: 37.5rem) {
  .App {
     /* background-color: rgb(119, 12, 12) !important; */
    height: 100svh; 
    width: 100svw;
  }
 }
