.task-flow-layout-page {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none !important;
    color: white;
    position: relative;
}

.task-flow-layout-page-content {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    /* height: calc(100% - 100px); */
    overflow-y: auto;
    display: flex;
    flex-direction: row;

}

.task-flow-layout-navbar {
    width: 100%;
    height: 100px;
    /* position: absolute; */
}

.task-flow-layout-sidebar {
    width: 250px;
    height: 100%;
    background-color: rgba(27, 25, 25, 0);
}


.task-flow-layout-small-sidebar {
    width: 90px;
    height: 100%;
    background-color: rgba(27, 25, 25, 0.167);
    border-right: 1px solid rgba(128, 128, 128, 0.118);
    z-index: 4;
}

.ltask-flow-ayout-small-sidebar.large-sidebar-open {
    background-color: rgba(255, 0, 0, 0);
    border-right: 1px solid rgba(128, 128, 128, 0);
}